@using Lucent.Common.Filters
@model Lucent.Common.Entities.BidFilter
 
<div class="form-group">
    @Html.LabelFor(model => model.GeoFilters, new { @class= "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.GeoFilters)
        @Html.ValidationMessageFor(model => model.GeoFilters)
    </div>
</div>