@model List<string>

<div class="form-group" id="ad_domains">
<select multiple="multiple" id="domainSelect">
@for(var i =0; i < Model.Count(); ++i)
{
    <option disabled>@Model[i]</option>
}
</select>
@for(var i =0; i < Model.Count(); ++i)
{
    @Html.HiddenFor(m=>m[i])
}

<input type="text" id="domainText" />
<input type="button" value="Click" id="addDomain" />
</div>

<script type="text/javascript">
    $(function () {
        $('#addDomain').click(function (e) {

            var name = $("#domainText").val();
            $('#domainSelect').
                append($("<option disabled></option>").
                attr("value", name).
                text(name));

            var numDomains = $('#domainSelect option').length - 1;

            $('#ad_domains').append("<input name='Campaign.AdDomains[" + numDomains + "]' type='hidden' value='" + name + "' id='Campaign_AdDomains_" + numDomains + "_'/>");
        });
    });
</script>