@page
@using Lucent.Common.Entities
@model Lucent.Portal.Models.CreateCreativeModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <form method="post" enctype="multipart/form-data"> 
    <div class="row">
        <div class="col-md-12">
           <input type="file" id="fUpload" name="files" multiple class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-top:10px;">
            <input type="button" id="btnUpload" value="Upload" />
        </div>
    </div>
</form>
</body>
<script type="text/javascript" src="~/js/creatives.js" defer></script>
</html>