@page
@using Lucent.Common.Entities
@model Lucent.Portal.Models.CreateCampaignModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<body>
    @using(Html.BeginForm("", "", FormMethod.Post)){
        <div asp-validation-summary="All" class="text-danger"></div>
        <partial name="CampaignMetadata" for="Campaign" />
        <partial name="CampaignSchedule" for="Campaign.Schedule" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Create</button>
            </div>
        </div>

    }
</body>
</html>