@page
@model Lucent.Portal.Models.CreateCampaignModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<body>
    <p>
        Enter your name.
    </p>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>Name: <input asp-for="Campaign.Name" /></div>
        <input type="submit" />
    </form>
</body>
</html>