@page "{id:Guid}"
@model Lucent.Portal.Models.EditCampaignModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Campaign";
}

<h1>Edit Campaign - @Model.Campaign.Id</h1>
<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Campaign.Id" type="hidden" />
    <div>
        <label asp-for="Campaign.Name"></label>
        <div>
            <input asp-for="Campaign.Name" />
            <span asp-validation-for="Campaign.Name" ></span>
        </div>
        <div>
            @await Html.PartialAsync("CampaignCreative", @Model.Campaign.Creatives)
        </div>
        
    </div>
 
    <div>
        <button type="submit">Save</button>
    </div>
</form>