@page "{id:Guid}"
@using Lucent.Common.Entities
@model Lucent.Portal.Models.EditCampaignModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Campaign";
}

<h1>Edit Campaign - @Model.Campaign.Name</h1>
<form method="POST">
    <div asp-validation-summary="All"></div>
    <input asp-for="Campaign.Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Campaign.Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Campaign.Name" class="form-control" />
            <span asp-validation-for="Campaign.Name" class="text-danger"></span>
        </div>
    </div>     

    <partial name="CampaignSchedule"
        for="Campaign.Schedule" />
    <input class="btn btn-secondary" type="submit"/>
</form>