@page
@model Lucent.Portal.Models.CampaignsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Campaigns</h1>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var campaign in Model.Campaigns)
            {
                <tr>
                    <td>@campaign.Id</td>
                    <td>@campaign.Name</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@campaign.Id">edit</a>
                        <button type="submit" asp-page-handler="delete" 
                                asp-route-id="@campaign.Id">delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="./Create">Create</a>
</form>